:root {
	--bg-def: #FFE7CC;
	--fg-def: #15151B;
}

* {
	padding: 0;   
	margin: 0;
	box-sizing: border-box;
	background-color: var(--bg-def);
	font-size: 100%;

}

#main {
	margin: 0 auto;
	padding: 0 0.6rem;
}

#site-name {
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 0px;
}

#site-subtitle {
	font-size: 1.0rem;
	font-weight: normal;
}

#navbar {
	border: 2px solid var(--fg-def);
	border-left: 0;
	border-right: 0;
	margin: 0.8rem auto 1rem auto;
}

#navbar > li {
	display: inline-block;
	padding: 0.5rem;
	padding-left: 0;
	margin-left: 0rem;
	margin-right: 1rem;
}

#navbar > li > a {
	text-align: center;
	text-decoration: none!important;
	list-style-type: none;
}



#suckessLink {
	text-align:center;
	color:#526953;
}

#saturnImage {
	text-align:center;
}

p {
	color: var(--text-def);
}

a:active {
	color: #526953;
}

a:visited {
	color: #526953;
}

a:hover {
	color: #FFDFD3;
	background: #526953;
}
