:root {
	--bg-def: #FFE7CC;
	--fg-def: #15151B;
  	--link-def: #526953;
	--bg-title: #C8DBBE;
}


* {
	font-family: 'Iosevka Web';
	padding: 0;   
	margin: 0;
	background-color: var(--bg-def);
	box-sizing: border-box;
	font-size: 102%;
}

p {
	color: var(--fg-def);
}

/* 
* ---------------------
* LINKS
* */
a {
	border: 3px solid var(--bg-def);
}
a:active {
	color: var(--link-def);
}
a:visited {
	color: var(--link-def);
}
a:hover {
	color: var(--bg-def);
	background: var(--link-def);
	border: 3px solid var(--link-def);
	border-radius: 0.6rem;
}

#main {
	padding: 0 2rem;
	margin-inline-start: auto;
	margin-inline-end: auto;
	width: 100%;
	max-width: 768px;
}


/* 
* ---------------------
* HEADER
* */
.head-name {
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 0px;
}

.head-subtitle {
	font-size: 1.0rem;
	font-weight: normal;
}

.head-sub-subtitle {
	margin-bottom: 0.1rem;
	font-size: 1.3rem;
	text-decoration: underline 0.1rem;
}


/* 
* ---------------------
* NAVIGATION
* */
#navbar {
	border: 3px solid var(--fg-def);
	border-left: 0;
	border-right: 0;
	margin: 0.2rem auto 0.2rem auto;
}

#navbar > li {
	display: inline-block;
	padding: 0.5rem;
	padding-left: 0;
	margin-left: 0rem;
	margin-right: 1rem;
	font-size: auto;
}

#navbar > li > a {
	text-align: left;
	text-decoration: none!important;
}

#navbar > li > a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* 
* ---------------------
* CONTENT
* */
.content {
	margin: 0rem 2rem;
}
/* ---- IMAGE ---- */
.image {
  padding: 0.5rem;
  padding-left: 0;
  padding-right: 0;
}

.greeting {
  grid-template-columns: repeat(auto-fit, 18rem);
  grid-template-rows: repeat(1, auto);
}

#greet-img {
	text-align: center;
}
#greet-img > img{
  	padding: 0rem;
	width: 100%;
	max-width: 20rem;
	height: auto;
	border: 0 solid var(--bg-title);
	border-radius: 0.6rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#greet-title {
	text-align: center;
}
#greet-title  p{
	text-align: center;
	text-decoration: underline 0.1rem;
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
	background-color: var(--bg-title);
	border: 4px solid var(--bg-title);
	border-radius: 0.6rem;
	margin: 0rem;
}

#greet-subtitle {
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	margin: 0rem;
}

#greet-subtitle > p{
	background-color: var(--bg-def);
	border: none;
	color: var(--fg-def);
	font-weight: normal;
	font-size: 0.8em;
	text-decoration: none;
}
.time-year {
	font-weight: bold;
	padding-right: 0.8rem;
}

.title {
	margin-bottom: 0.8rem;
	text-align: justify;
	hyphens: auto;
}
#title-2 p{
	text-indent: 0.5rem;
}
#title-3 p{
	text-indent: 0.5rem;
} 

#title-4 > ul {
	list-style-type: none;
}

#title-4 > ul > li {
	margin-bottom: 1rem;
}

#title-4 > ul > li > p {
	text-align: center;
	margin-bottom: 0.5rem;
}

#things-1 video{
	width: 100%;
	height: auto;
	border: 0 solid var(--bg-title);
	border-radius: 0.6rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rices {
	display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);
	gap: 1rem 2rem;
}

#things-1 > p > a{
	text-decoration: none!important;
}

#things-2 > p {
	border: 1px solid var(--fg-def);
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	padding-top: 1rem;

}
#things-2 > p > a{
	text-decoration: none!important;
}
#rices > a:hover {
	color: var(--bg-def);
	background: none;
	border: 0px solid var(--link-def);
}
#rices > a > img{
	width: 100%;
	height: auto;
	border: 0 solid var(--bg-blue);
	border-radius: 0.6rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* 
* ---------------------
* FOOTER
* */
footer {
	border: 3px solid var(--fg-def);
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
  padding: 0.5rem;
  padding-left: 0;
	margin: 0.8rem auto 0.8rem auto;
}

#foot-title {
  font-weight: bold;
  font-size: 1.2rem;
}
#social {
	margin: 0rem 2rem;
}

#social > li {
	padding-top: 0.5rem;
}
#social > li > a{
	text-decoration: none!important;
}

#social > li > a:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
